
.about__wrapper{
    background-image: url(../img/about.jpg);
    width: 1280px;
    height: 450px;
}
.about__title{
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    padding: 137px 0 24px 85px;
}
.about__text{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    padding-left: 85px;
}