.footer{
&__menu{
    list-style-type: none;
    display: flex;
    align-items: center;
}
&__link{
    color: #83888F;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    margin-right: 33px;
}
&__link:hover{
    color: #FEFCF7;
}
&__image{
   margin-left: auto;
   margin-right: 85px;
}
&__right{
    margin-right: 24px;
}
&__right:nth-child(3){
  margin-right: 0;
}

&__wrapper{
    display: flex;
    align-items: center;
    height: 120px;
    background-color: #2C343E;
    position: relative;
    margin-top: 200px;
}
}
.logo{
    margin: 48px 108px 47px 85px;
}
